{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Itrabs</title>
  </head>
  <body>
    <div id="container">
      <div class="singup">
        <img src="{% static 'images/Logo-login.png' %}" alt="logo-da-empresa" />
        <h2>Crie sua conta</h2>

        <form action="" id="form" method="POST">
          {% csrf_token %}
          {{ form.UserRegistrationForm }}

          <label for="{{ form.first_name.id }}">Nome:</label>
          {{ form.first_name }}

          <label for="{{ form.last_name.id }}">Sobrenome:</label>
          {{ form.last_name }}
          
          <label for="{{ form.email.id }}">Email:</label>
          {{ form.email }}

          <label for="{{ form.password1.id }}">Senha:</label>
          {{ form.password1 }}

          <label for="{{ form.password2.id }}">Confirme sua senha:</label>
          {{ form.password2 }}
          
          <input type="submit" id="button" value="Cadastrar-se" />
        </form>
      </div>
    </div>
  </body>
</html>
