{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/encontrarprofissionais.css' %}" />

  <title>Itrabs</title>
</head>

<body>
  {% include 'core/includes/navbar.html' %}
  <section id="container">
    <section class="left-info">
      <div class="filter-card">
        <h3>Encontre profissionais</h3>

        <div class="filter-radio-container">
          <span>CATEGORIAS DE SERVIÇOS</span>

          <div class="filter-radio">
            <div class="radio-input">
              <input type="checkbox">
              <label>Serviços Domésticos</label>
            </div>

            <div class="radio-input">
              <input type="checkbox">
              <label>TI e Programação</label>
            </div>

            <div class="radio-input">
              <input type="checkbox">
              <label>Moda e Beleza</label>
            </div>

            <div class="radio-input">
              <input type="checkbox">
              <label>Reforma e Reparos</label>
            </div>

            <div class="radio-input">
              <input type="checkbox">
              <label>Saúde</label>
            </div>

            <div class="radio-input">
              <input type="checkbox">
              <label>Assistência Técnica</label>
            </div>

            <div class="radio-input">
              <input type="checkbox">
              <label>Tradução e Conteúdo</label>
            </div>

            <div class="radio-input">
              <input type="checkbox">
              <label>Design e Multimedia</label>
            </div>
          </div>

          <span>TAGS DE HABILIDADE</span>

          <div class="filter-select">
            <select onmousedown="document.querySelector('#title').remove()" id="habilits">
              <option value="" disabled selected id="title">Informe as habilidades que você busca: </option>
              <option value="">Php</option>
              <option value="">Digitador</option>
              <option value="">Wordpress</option>
            </select>
          </div>

          <span>IDIOMAS</span>

          <div class="languages">
            <button type="button">PORTUGUÊS</button>
            <button type="button">INGLÊS</button>
            <button>ESPANHOL</button>
          </div>

          <div class="save">
            <button type="button">SALVAR</button>
          </div>

        </div>
      </div>
    </section>

    <section class="right-info">

      <div class="search">
        <input type="text" id="search" placeholder="Buscar por tags, palavras chaves ou serviço"/>
        <img src="{% static 'images/search-icon.png' %}" alt="ícone de lupa" />
      </div>
      {% for user in display_user %}
      <div class="profile-card">
        <div class="left-info-profile">
          <header>
            <div class="icon-container">
            </div>
            <div class="user-info">
              <h2>
                
                  {{user.username}}
                

              </h2>

              <div class="rating">
                <div class="stars">
                  <img src="{% static 'images/Star.svg' %}">
                  <img src="{% static 'images/Star.svg' %}">
                  <img src="{% static 'images/Star.svg' %}">
                  <img src="{% static 'images/Star.svg' %}">
                  <img src="{% static 'images/Star.svg' %}">
                </div>

                <span>Publicado há: 2 dias</span>
              </div>
            </div>
          </header>

          <main>{{user.about_professional}}</main>

          <footer>
            <strong>Categoria: {{user.category}}</strong>
            <strong>Disponibilidade: {{user.availability}}</strong>
            <strong class="tags-title">Tags</strong>

            <div class="tags">
              <strong>#photoshop</strong>
              <strong>#design</strong>
              <strong>#illustrator</strong>
            </div>
          </footer>
        </div>

        <div class="right-info-profile">
          <div class="price">
            <h3>Preço por hora</h3>
            <strong>BRL 12.00</strong>
          </div>

          <div class="languages">
            <h3>Idiomas</h3>
            <strong>Português - Nativo</strong>
            <strong>Inglês - Intermediario</strong>
          </div>

          <div class="buttons">
            <button type="button">Entrar no perfil</button>
            <button type="button">Chat de venda</button>
          </div>
        </div>
      </div>
      {% endfor %}

      <div class="profile-card" id="last">
        <div class="left-info-profile">
          <header>
            <div class="icon-container">
            </div>

            <div class="user-info">
              <h2>José Alves da Silva</h2>

              <div class="rating">
                <div class="stars">
                  <img src="{% static 'images/Star.svg' %}">
                  <img src="{% static 'images/Star.svg' %}">
                  <img src="{% static 'images/Star.svg' %}">
                  <img src="{% static 'images/Star.svg' %}">
                  <img src="{% static 'images/Star.svg' %}">
                </div>

                <span>Publicado há: 2 dias</span>
              </div>
            </div>
          </header>

          <main>
            Olá, me chamo José, sou designer gráfico a exatos 5 anos.
            Já trabalhei em grandes empresas multinacionais e estou
            no site em busca de uma renda extra, tenho experiências
            com photoshop, ux design, figma, illustrator, se quiser
            conhecer mais projetos, entre no meu perfil
          </main>

          <footer>
            <strong>Categoria: Designer Gráfico</strong>
            <strong>Disponibilidade: 4 vezes na semana, por 6 horas</strong>
            <strong class="tags-title">Tags</strong>

            <div class="tags">
              <strong>#photoshop</strong>
              <strong>#design</strong>
              <strong>#illustrator</strong>
            </div>
          </footer>
        </div>

        <div class="right-info-profile">
          <div class="price">
            <h3>Preço por hora</h3>
            <strong>BRL 12.00</strong>
          </div>

          <div class="languages">
            <h3>Idiomas</h3>
            <strong>Português - Nativo</strong>
            <strong>Inglês - Intermediario</strong>
          </div>

          <div class="buttons">
            <button type="button">Entrar no perfil</button>
            <button type="button">Chat de venda</button>
          </div>
        </div>
      </div>
    </section>
  </section>

  {% include 'core/includes/footer.html' %}

  <!-- ScrollReveal Lib-->
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>