{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="{% static 'css/home.css' %}" />

  <title>ITrabs</title>
</head>

<body>
  {% include 'core/includes/navbar.html' %}
  <section id="hero">
    <div class="container">
      <div class="hero-content">
        <p>Bem-Vindo ao Itrabs</p>
        <h1>REVOLUCIONE A FORMA DE DIVULGAR O SEU NEGÓCIO</h1>
        <p class="description">
          Profissionais qualificados reunidos em um só lugar, com um único
          propósito: resolver seus problemas
        </p>
        <a href="{% url 'login' %}" class="button">TORNE-SE PROFISSIONAL</a>
      </div>
    </div>
  </section>

  <section id="etapas">
    <div class="container">
      <h2 class="section-title">Como Funciona</h2>
      <div class="cards">
        <div class="card1">
          <img src="{% static 'images/Imagem-Card.png' %}" alt="imagem-com-panfletos" />
          <h2 class="card-title">PUBLIQUE</h2>
          <p class="card-desc">
            Publique seus serviços para preencher seu perfil com seu portfólio
          </p>
        </div>
        <div class="card2">
          <img src="{% static 'images/Imagem-Card2.png' %}" alt="imagem-com-panfletos" />
          <h2 class="card-title">ANUNCIE</h2>
          <p class="card-desc">
            Divulgue sua vaga para as pessoas conhecerem seu serviço e assim
            compra-lo
          </p>
        </div>
        <div class="card3">
          <img src="{% static 'images/Imagem-Card3.png' %}" alt="imagem-com-panfletos" />
          <h2 class="card-title">VENDA</h2>
          <p class="card-desc">
            Após o cliente entrar em contato, converse pelo chat e realize a
            venda como você preferir
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="categorias">
    <div class="container">
      <h2 class="section-title">Categorias</h2>
      <div class="cards-categorias">
        <div class="cards1">
          <img src="{% static 'images/Cat-1.png' %}" alt="serviços-domesticos" class="categoria" />
          <img src="{% static 'images/Cat-2.png' %}" alt="programação" class="categoria" />
          <img src="{% static 'images/Cat-3.png' %}" alt="moda" class="categoria" />
          <img src="{% static 'images/Cat-4.png' %}" alt="reformas-e-reparos" class="categoria" />
        </div>
        <div class="cards2">
          <img src="{% static 'images/Cat-5.png' %}" alt="saúde" class="categoria" />
          <img src="{% static 'images/Cat-6.png' %}" alt="assistência-técnica" class="categoria" />
          <img src="{% static 'images/Cat-7.png' %}" alt="tradução-de-conteúdo" class="categoria" />
          <img src="{% static 'images/Cat-8.png' %}" alt="design-e-multimidia" class="categoria" />
        </div>
      </div>
    </div>
  </section>

  <section id="sobre">
    <div class="container">
      <div class="sobre-info">
        <div class="image">
          <img src="{% static 'images/Foto-Sobre.png' %}" alt="logo-empresa" />
        </div>
        <div class="sobre-disc">
          <h2>SOBRE NÓS</h2>
          <p>
            A ITrabs surgiu em 2022 em um trabalho realizado na faculdade por
            5 alunos. O intuito é criar um plataformas dinâmica e de fácil uso
            para que os profissionais consigam divulgar seus serviços de forma
            prática, sem muita burocracia
          </p>
          <div class="btn">
            <a href="{% url 'login' %}" class="button">TORNE-SE PROFISSIONAL</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="footer">
    <div class="container">
      <div class="footer-info">
        <div class="info">
          <img src="{% static 'images/Logo-footer.png' %}" alt="logo-empresa" />
          <p>©2022 - ITrabs.</p>
          <p>Todos os direitos reservados.</p>
        </div>
        <div class="social-link">
          <ul>
            <li>
              <a href="#"><img src="{% static 'images/instagram 1.png' %}" alt="instagram-logo" /></a>
            </li>
            <li>
              <a href="#"><img src="{% static 'images/youtube 1.png' %}" alt="youtube-logo" /></a>
            </li>
            <li>
              <a href="#"><img src="{% static 'images/facebook 1.png' %}" alt="facebook-logo" /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- ScrollReveal Lib-->
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
</body>

</html>