{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/planos.css' %}">
  <title>Itrabs</title>
</head>
<body>
  {% include 'core/includes/navbar.html' %}
  <section id="planos">
    <div class="container">
      <h1>Deixe o seu perfil personalizado e profissional <br>com nossos planos</h1>
      <p>Não perca a chance de se destacar entre muitos profissionais</p>
      <div class="plans-type">
        <div class="plan-card">
          <h2>Standard</h2>
          <hr>
          <ul>
            <li>2 posts de serviços</li>
            <li>Limitação a 3 imagens de portfolio no perfil</li>
          </ul>
        </div>
        <div class="plan-card">
          <h2>Gold</h2>
          <hr>
          <ul>
            <li>4 posts de serviços</li>
            <li>5 imagens de porfolio</li>
            <li>Anúncios com grau 2 de prioridade</li>
            <li>Emblemas oficiais do site</li>
          </ul>
          <div class="button">
            <span>Assinar Plano</span>
          </div>
        </div>
        <div class="plan-card">
          <h2>Platinium</h2>
          <hr>
          <ul>
            <li>8 posts de serviços</li>
            <li>Perfil ganha impulsionamento</li>
            <li>Anúncios com grau 1 de prioridade</li>
            <li>Emblemas oficiais do site</li>
            <li>Capacidade de enviar arquivos grandes</li>
            <li>Libera a função de vídeo apresentação</li>
            <li>Chat de vídeo liberado</li>
          </ul>
          <div class="button" style="margin-top: 6rem;">
            <span>Assinar Plano</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include 'core/includes/footer.html' %}

  <!-- ScrollReveal Lib-->
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="../../js/script.js"></script>
</body>
</html>