{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Itrabs</title>
  </head>
  <body>
    <div id="container">
      <div class="login">
        <img src="{% static 'images/Logo-login.png' %}" alt="logo-da-empresa" />
        <h2>Entre na sua conta</h2>

        <form action="" id="form" method="POST">
          {% csrf_token %}
          {{ form }}
          <input type="submit" id="button" value="Fazer Login" />
        </form>
        <hr/>
        <h2>Não possui conta?</h2>
        <a href="{% url 'signup' %}">Registre-se</a>
      </div>
    </div>
  </body>
</html>
