{% load static %}

<style>
  textarea#id_about_general,
  #id_about_looking,
  #id_about_expectation {
    width: 100%;
    height: 100%;
  }
</style>

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/perfilcontratante.css' %}" />

  <title>Itrabs</title>
</head>

<body>

  {% include 'core/includes/navbar.html' %}

  <section id="profile-type">
    <div class="container">
      <div class="profiles">
        <div class="profissional"><a href="{% url 'professional_profile' form.instance.username %}">Perfil
            Profissional</a></div>
        <div class="contratante"><a href="{% url 'customer_profile' form.instance.username %}">Perfil contratante</a>
        </div>
      </div>
    </div>
  </section>

  <section id="profile-info">
    <div class="container">
      <div class="info-division">
        <div class="left-info">
          <div class="row">
            <div class="profile-image"></div>
            <div class="profile-information">
              <h2><span>{{ form.instance.username }}</span></h2>
              <div class="rating">
                <img src="{% static 'images/Star.svg' %}">
                <img src="{% static 'images/Star.svg' %}">
                <img src="{% static 'images/Star.svg' %}">
                <img src="{% static 'images/Star.svg' %}">
                <img src="{% static 'images/Star.svg' %}">
              </div>
            </div>
            <div class="btn-message">
              <button>CONVERSAR</button>
            </div>
          </div>
          <hr>

          {% if user.username == form.instance.username %}

          <div class="about-box box">
            <span>
              <div class="box-label">
                <h3>Sobre mim</h3>
                <img src="{% static 'images/EditPencil.svg' %}">
              </div>
            </span>
            <div class="about">
              <p>
                <span>
                  {{ form.instance.about_general }}
                </span>
              </p>
              <form method="POST">
                {% csrf_token %}
                {{ form_general_info.about_general }}
                <input type="submit" id="button" value="Atualizar" name="update_general_info"/>
              </form>
            </div>
          </div>
          <div class="user-will box">
            <span>
              <div class="box-label">
                <h3>O que eu quero</h3>
              </div>
            </span>
            <div class="about">
              <p>
                <span>
                  {{ form.instance.about_looking }}
                </span>
              </p>
              <form method="POST">
                {% csrf_token %}
                {{ form_looking_info.about_looking }}
                <input type="submit" id="button" value="Atualizar" name="update_looking_info">
              </form>
            </div>
          </div>
          <div class="professional-wait box">
            <span>
              <div class="box-label">
                <h3>O que eu espero de um profissional</h3>
              </div>
            </span>
            <div class="about">
              <p>
                <span>
                  {{ form.instance.about_expectation }}
                </span>
              </p>
              <form method="POST">
                {% csrf_token %}
                {{ form_expectation_info.about_expectation }}
                <input type="submit" id="button" value="Atualizar" name="update_expectation_info">
              </form>
            </div>
          </div>
        </div>

        <div class="right-info">
          <div class="contact">
            <h2>Contatos<img src="{% static 'images/EditPencil.svg' %}" id="edit"></h2>
            <div id="contacts-info">
              <a href="#">{{ form.instance.email }}</a>
              <form method="POST" id="form">
                {% csrf_token %}
                {{ form.email }}
              <a href="#">{{ form.instance.phone_number }}</a>
                {% csrf_token %}
                {{ form.phone_number }}
                <input type="submit" id="button" value="Atualizar" name="update_right_info" />
              </form>
            </div>
          </div>
          <div class="social">
            <h2>Redes Sociais</h2>
            <div class="socials">
              <a href="#"><img src="{% static 'images/instagram.svg' %}"></a>
              <a href="#"><img src="{% static 'images/facebook.svg' %}"></a>
              <a href="#"><img src="{% static 'images/TwitterLogo.svg' %}"></a>
            </div>
          </div>
          <div class="button">
            <a href="#">
              <button>COMPARTILHE ESSE PERFIL</button>
            </a>
          </div>
          <div class="comments">
            <h2>Comentários</h2>
            <div id="users-comments">
            </div>
          </div>
        </div>
        {% else %}
        <div class="about-box box">
          <span>
            <div class="box-label">
              <h3>Sobre mim</h3>
            </div>
          </span>
          <div class="about">
            <p>
              <span>
                {{ form.instance.about_general }}
              </span>
            </p>
          </div>
        </div>
        <div class="user-will box">
          <span>
            <div class="box-label">
              <h3>O que eu quero</h3>
            </div>
          </span>
          <div class="about">
            <p>
              <span>
                {{ form.instance.about_looking }}
              </span>
            </p>
          </div>
        </div>
        <div class="professional-wait box">
          <span>
            <div class="box-label">
              <h3>O que eu espero de um profissional</h3>
            </div>
          </span>
          <div class="about">
            <p>
              <span>
                {{ form.instance.about_expectation }}
              </span>
            </p>
          </div>
        </div>

      </div>


      <div class="right-info">
        <div class="contact">
          <h2>Contatos</h2>
          <div id="contacts-info">
            <a href="#">{{ form.instance.email }}</a>
            <a href="#">{{ form.instance.phone_number }}</a>
          </div>
        </div>
        <div class="social">
          <h2>Redes Sociais</h2>
          <div class="socials">
            <a href="#"><img src="{% static 'images/instagram.svg' %}"></a>
            <a href="#"><img src="{% static 'images/facebook.svg' %}"></a>
            <a href="#"><img src="{% static 'images/TwitterLogo.svg' %}"></a>
          </div>
        </div>
        <div class="button">
          <a href="#">
            <button>COMPARTILHE ESSE PERFIL</button>
          </a>
        </div>
        <div class="comments">
          <h2>Comentários</h2>
          <div id="users-comments">
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    </div>
  </section>

  {% include 'core/includes/footer.html' %}

  <!-- ScrollReveal Lib-->
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>