{% load static %}

<footer id="footer">
    <div class="container">
        <div class="footer-division">
            <div class="itrabs-copy">
                <img src="{%  static 'images/Logo-footer.png' %}" alt="itrabs-logo">
                <p>©2022 - ITrabs.</p>
                <p>Todos os direitos reservados.</p>
            </div>
            <div class="socials">
                <ul>
                    <li><a href="#"><img src="{% static 'images/facebook.svg' %}"></a></li>
                    <li><a href="#"><img src="{% static 'images/instagram.svg' %}"></a></li>
                    <li><a href="#"><img src="{% static 'images/twitter.svg' %}"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>