/*------------- GERAL -----------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --blue-color: #6e0085;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color: #00856f;

  --button-shadow: #000000;

  --light-300: 300;
  --regular-400: 400;
  --medium-500: 500;
  --semibold-600: 600;
  --bold-700: 700;
}

body {
  background-color: #dce9e2;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 110rem;
}


#header,
#profile-type,
#profile-info,
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------ HEADER -----------*/

#header {
  padding-bottom: 1rem;
  padding-top: 2rem;
  position: fixed;
  top: 0;
  width: 100vw;
}

#header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .header-middle,
#header .header-right {
  list-style: none;
  display: flex;
  align-items: center;
}

#header .header-middle li {
  padding: 0rem 1.5rem;
}

#header .header-middle a {
  text-decoration: none;
  padding-bottom: 1rem;

  font-weight: var(--semibold-600);
  color: var(--blue-color);
  font-size: 1.6rem;

}

#header .header-middle a:hover {
  border-bottom: 0.5rem solid var(--blue-color);
}

#header .header-right a {
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;


}

#header .header-right #profile-image {
  background-color: #00856f;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
}

/*----HEADER-ONSCROLL-----*/

#header.scroll {
  background-color: var(--blue-color);
}

#header.scroll .logo path {
  fill: var(--white-color);
}

#header.scroll .navigation .header-middle a {
  color: var(--white-color);
}

#header.scroll .navigation .header-middle a:hover {
  border-bottom: 0.5rem solid #ffffff;
}

#header.scroll .navigation .header-right a path {
  fill: var(--white-color);
}

/*------------PROFILE-SECTION------------*/

#profile-type {
  padding-top: 10rem;
}

#profile-type .profiles {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-type .profiles .profissional {
  padding-right: 3rem;
}

#profile-type .profiles .contratante {
  padding-left: 3rem;
}

#profile-type .profiles a {
  text-decoration: none;
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
  font-weight: var(--semibold-600);
  color: var(--blue-color);
}

#profile-type .profiles a:hover {
  border-bottom: 0.5rem solid var(--blue-color);
}

/*--------- PROFILE-INFO -----------*/

#profile-info {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#profile-info .info-division {
  display: flex;
}

#profile-info .info-division .left-info {
  flex: 1;
  background-color: var(--blue-color);
  border-radius: 1rem;
}

#profile-info .info-division .right-info {
  width: 24.3rem;
  background-color: var(--blue-color);
  margin-left: 2.2rem;
  border-radius: 1rem;
}

/*-----------LEFT-INFO-----------------*/
.left-info .row {
  display: flex;
}

.left-info .profile-image {
  width: 10rem;
  height: 10rem;
  background-color: var(--gray-color);
  border-radius: 50%;
  margin-left: 3rem;
  margin-top: 3rem;
}

.left-info h2 {
  color: var(--white-color);
  font-size: 3rem;
  margin-top: 3.4rem;
  margin-left: 3rem;
}

.left-info .rating {
  margin-left: 3rem;
  margin-top: 1.5rem;
}

.left-info .btn-message button {
  background-color: var(--gray-color);
  color: var(--white-color);
  padding: 0.8rem;
  border-radius: 5rem;
  border: none;
  margin-top: 3.8rem;
  margin-left: 14rem;
  width: 15rem;

  cursor: pointer;
  margin-bottom: 0.6rem;
}

.left-info .btn-message button img {
  padding-right: 0.6rem;
}

.left-info hr {
  margin: auto;
  width: 75rem;
  margin-top: 4rem;
}

.left-info .box {
  width: 75rem;
  margin: auto;
  padding-top: 3rem;
}

.left-info .box .box-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-info .box .box-label h3 {
  font-size: 1.6rem;
  color: var(--white-color);
}

.left-info .box .box-label img {
  width: 1.8rem;
  cursor: pointer;
}

.left-info .user-will {
  padding-bottom: 1rem;
}

.left-info .box .about {
  height: 5rem;
}

.left-info .box .about p {
  margin-left: 0;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--white-color);
}

.left-info .professional-will {
  padding-bottom: 1rem;
}

/*-----------RIGHT-INFO----------------*/

.right-info {
  max-height: 50rem;
}

.right-info .contact {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.right-info .contact h2 {
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: var(--bold-700);
  padding-top: 2.5rem;
  padding-bottom: 1rem;

  display: flex;
  justify-content: center;
}

.right-info .contact img {
  padding-left: 1rem;
  width: 2.5rem;

  cursor: pointer;
}

.right-info #contacts-info {
  display: flex;
  flex-direction: column;
}

.right-info #contacts-info a {
  text-decoration: none;
  color: var(--white-color);
  padding-top: 2rem;
}

.right-info .social {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 3rem;
}

.right-info .social h2 {
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: var(--bold-700);
  display: flex;
  justify-content: center;
}

.right-info .social .socials {
  padding-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.right-info .social .socials a img {
  width: 2rem;
}

.right-info .button {
  display: flex;
  justify-content: center;
  padding-top: 3.4rem;
  padding-bottom: 2.2rem;
}

.right-info .button button {
  background-color: var(--gray-color);
  border-radius: 1rem;
  padding: 1rem;
  color: var(--white-color);

  border: none;
  cursor: pointer;
}

.right-info .comments h2 {
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: var(--bold-700);

  display: flex;
  justify-content: center;
}

/*-------------FOOTER----------*/

#footer {
  background-color: var(--blue-color);
}

#footer .footer-division {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .itrabs-copy {
  padding-top: 3.8rem;
  padding-bottom: 2.4rem;
}

#footer .itrabs-copy p {
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: var(--medium-500);
  padding-top: 1.4rem;
}

#footer .socials ul {
  display: flex;
  align-items: center;
}

#footer .socials ul li {
  list-style: none;
  padding-left: 2.8rem;
}